/* Header Nav Bar Styling */
.nav-links{
  list-style-type: none;
  display: flex;
  gap: 20px;
  background-color: aqua;
}


/* Footer Styling */
.footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}